@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "arrow";
  src: url(fonts/NanumMyeongjo-Regular.ttf)
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-VariableFont_wght.ttf)
}

.main-container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  max-width: 1350px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 40px;
  margin-left: 300px;
}

.header-logo {
  width: 150px;
  height: 47px;
}

.header-link {
  font-family: Open Sans;
  font-weight: 600;
  color: #646464;
  text-decoration: none;
}

.header-link:not(:first-of-type) {
  font-family: Open Sans;
  color: #000000;
  text-decoration: none;
}

.sign-up-button {
  width: 97px;
  height: 32px;
  background-image: url(img/Rectangle.png);
  text-decoration: none;
}

.sign-up-button::after {
  content: "Sign Up";
  display: flex;
  margin-top: 5px;
  justify-content: center;
  font-family: Open Sans;
  color: #FFFFFF;
}

.picture-b1 {
  max-height: 626px;
  max-width: 720px;
}

.pic-b1 {
  border-radius: 140px 0px;
}

.main-b1 {
  display: flex;
  align-items: center;
  margin-top: 94px;
}

.picture-b1 {
  margin-right: 50px;
}

.aside-b1 {
  font-family: Open Sans;
  color: #646464;
  font-size: 20px;
  text-shadow: 1px 3px 4px #b9b7b7;
}

.heading-b1 {
  margin-top: 12px;
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 72px;
  line-height: 78px;
  color: #212121;
  text-shadow: 1px 3px 4px #b9b7b7;
}

.p-text-b1 {
  max-width: 603px;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
  text-shadow: 0px 1px 7px #a7a3a3;
}

.green-button {
  margin-top: 28px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background: #37806B;
  border-radius: 20px 0px;
  border: none;
  width: 140px;
  height: 42px;
  line-height: 40px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer
}

.border-b1::after {
  content: "";
  display: block;
  height: 626px;
  border: 2px solid #B0855B;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px #adacac;
  border-radius: 140px 0px;
}

.border-b1 {
  position: relative;
  top: -590px;
  right: -35px;
  z-index: -1;
}

.main-b2 {
  margin-top: 160px;
}

.header-b2 {
  display: flex;
  justify-content: space-between;
}

.content-b2 {
  display: flex;
  gap: 35px;
  margin-left: 18px;
}

.aside-b2 {
  margin-left: 6px;
  font-family: Poppins;
  font-size: 20px;
  color: #646464;
}

.heading-b2 {
  margin: 0px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
}

.buttons-b2 {
  margin-top: 50px;
  margin-right: 75px;
}

.swing-right {
  margin-left: 7px;
}

.swing-left, .swing-right {
  width: 25px;
  height: 24px;
  background: #FFFFFF;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
}

.swing-right:hover, .swing-left:hover {
  width: 25px;
  height: 24px;
  background: #37806B;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
}

.swing-right:active, .swing-left:active {
  background: #37806B;
  box-shadow: inset 0px 0px 5px #000000;
  outline: none;
}

.swing-right::after {
  content: ">";
  font-family: "arrow";
  position: relative;
  left: 2px;
  font-size: 16px;
  text-shadow: 0px 0px 1px #000000;
}

.swing-left::after {
  content: "<";
  font-family: "arrow";
  font-size: 16px;
  position: relative;
  left: -2px;
  text-shadow: 0px 0px 1px #000000;
}

.text-b2 {
  margin-top: 50px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}

.text-b2:nth-of-type(2) {
  background: #CAA892;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}

.text-b2:nth-of-type(2) .heading-content-b2, .text-b2:nth-of-type(2) .text-content-b2 {
  color: white;
}

.heading-content-b2 {
  margin: 0px;
  font-family: Poppins;
  font-size: 24px;
  margin-top: 25px;
  line-height: 50px;
  color: #212121;
  margin-left: 97px;
}

.text-content-b2 {
  max-width: 307px;
  font-family: Open Sans;
  font-size: 17px;
  line-height: 28px;
  color: #646464;
  margin: 0px 21px 35px 97px;
}

.img-1-b2, .img-2-b2, .img-3-b2 {
  position: absolute;
  margin-left: 37px;
  margin-top: 40px;
}

.main-b3 {
  display: flex;
  align-items: center;
  gap: 130px;
  margin-top: 236px;
}

.border-b3 {
  position: relative;
  top: -760px;
  right: 35px;
  z-index: -1;
}

.picture-b3 {
  max-height: 726px;
}

.border-b3::after {
  content: "";
  display: block;
  height: 726px;
  border: 2px solid #B0855B;
  box-shadow: 1px 1px 4px #adacac;
  border-radius: 140px 0px;
}

.aside-b3 {
  font-family: Poppins;
  font-size: 20px;
  line-height: 30px;
  color: #646464;
  margin-bottom: 10px;
}

.heading-b3 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  color: #212121;
  margin: 0;
}

.p-text-b3 {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

.textBlock-b3 {
  max-width: 544px;
  margin-bottom: 120px;
}

.pic-b3 {
  border-radius: 140px 0px;
}

.main-b4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 220px;
}

.pic_2-b4 {
  border-radius: 140px 0px;
}

.picture-b4 {
  max-height: 726px;
  margin-right: 55px;
}

.border-b4 {
  position: relative;
  top: -700px;
  right: -30px;
  z-index: -1;
}

.border-b4::after {
  content: "";
  display: block;
  height: 726px;
  border: 2px solid #B0855B;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px #adacac;
  border-radius: 140px 0px;
}

.textBlock-b4 {
  margin-top: 50px;
}

.heading-b4 {
  margin: 0px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 49px;
  line-height: 65px;
  letter-spacing: 0.04em;
  color: #212121;
  margin-top: 20px;
}

.pic_1-b4 {
  width: 310px;
  margin-left: 5px;
}


/* obosran-container */
.background {                            
  margin-top: 256px;
  background-color: #afafaf18;
}
/* obosran-container */

.main-b5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 180px;
}

.heading-b5 {
  margin: 90px 0px 30px 120px;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #212121;
}

.squares-b5 {
  display: flex;
  margin-top: 174px;
  list-style-type: none;
  margin-left: 100px
}

.line-b5 {
  width: 200px;
  height: 120px;
  margin: -15px;
}

.reverse-line-b5 {
  transform: scaleX(-1);
}

.upper-line {
  position: relative;
  top: -120px;
}

.square-content {
  position: relative;
  top: -150px;
  right: -65px;
}

.square-header {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  line-height: 30px;
  color: #212121;
}

.square-text {
  font-size: 20px;
  color: rgb(128, 126, 126);
}

.square-b5:nth-of-type(1) .square-text {
  position: relative;
  left: 15px;
}

.square-b5:nth-of-type(2) .square-text {
  position: relative;
  left: -5px;
}

.square-b5:nth-of-type(3) .square-text {
  position: relative;
  left: 10px;
}

.square-b5:nth-of-type(4) .square-text {
  position: relative;
  left: 5px;
}

.main-b6 {
  margin-top: 160px;
}

.heading-b6 {
  margin: 0px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  color: #212121;
  text-align: center;
}

.aside-b6 {
  font-family: Poppins;
  font-size: 20px;
  color: #646464;
  text-align: center;
  margin-bottom: 5px;
}

.reviews-b6 {
  display: flex;
  gap: 55px;
}

.review-window-b6 {
  background: #FFFFFF;
  box-shadow: 7px 7px 20px 7px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  position: relative;
  padding-right: 33px;
  padding-bottom: 60px;
  margin: 80px 0 0 80px;
}

.reviewer-name-b6 {
  margin: 0 0 0 110px;
  font-family: Open Sans;
  font-size: 24px;
  color: #212121;
  margin-top: 40px;
}

.reviewer-name-b6 p {
  display: inline;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  color: #646464
}

.reviewer-photo-b6 {
  position: absolute;
  top: 40px;
  left: -50px;
}

.comment-b6 {
  max-width: 434px;
  margin: 10px 0 0 110px;
  font-family: Open Sans;
  font-size: 18px;
  color: #7e7d7d;
}

.quotes-b6 {
  position: absolute;
  right: 35px;
  top: 30px;
}

.buttons-b6 {
  position: relative;
  right: -1290px;
  top: -10px;
}

.main-b7 {
  margin-top: 183px;
  background-color: #afafaf18;
  padding: 0.2px;
}

.textblock-b7 {
  margin-top: 100px;
}

.aside-b7 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  color: #646464;
  margin-right: 60px;
}

.heading-b7 {
  margin: 23px 60px 0 0;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 28px;
  color: #111111;
}

.items-b7 {
  display: flex;
  margin-top: 75px;
  gap: 80px;
  justify-content: space-around;
  padding-bottom: 120px;
}

.item-1-pic-b7, .item-2-pic-b7 {
  max-width: 544px;
  border-radius: 100px 0px;
}

.item-1-textcontent-b7, .item-2-textcontent-b7 {
  margin-top: 62px;
}

.item-1-picture-b7, .item-2-picture-b7 {
  max-height: 387px;
}

.item-1-border-b7, .item-2-border-b7 {
  position: relative;
  top: -375px;
  right: -8px;
  z-index: -1;
}

.item-1-border-b7::after, .item-2-border-b7::after {
  content: "";
  display: block;
  height: 387px;
  width: 554px;
  border: 2px solid #B0855B;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px #adacac;
  border-radius: 100px 0px;
}

.item-1-heading-b7, .item-2-heading-b7 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #212121;
  margin: 0px;
}

.item-1-text-b7, .item-2-text-b7 {
  font-family: Open Sans;
  color: #646464;
}

.green-button-b7 {
  margin: 28px 0 20px 0;
  color: #FFFFFF;
  background: #37806B;
  border-radius: 20px 0px;
  border: none;
  width: 271px;
  height: 53px;
  font-family: Open Sans;
  font-size: 18px;
  cursor: pointer
}

.item-2-heading-b7, .item-2-text-b7, .item-2-button-b7 {
  margin-left: 30px;
}

.main-b8 {
  margin-top: 190px;
}

.heading-b8 {
  margin: 0;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #212121;
}

.border-bottom-b8 {
  max-width: 450px;
  margin: 35px auto 0 auto;
  border-bottom: 1px solid #cfcdcd;
}

.text-b8 {
  text-align: center;
  margin-top: 45px;
  font-family: Open Sans;
  font-size: 18px;
  color: #646464;
}

.email-b8 {
  width: 772px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 20px 0px;
  margin-left: 320px;
  border: none;
  font-family: Raleway;
  font-size: 18px;
  color: #646464;
}

.green-button-b8 {
  position: relative;
  left: -183px;
  top: 1px;
  margin: 28px 0 20px 0;
  color: #FFFFFF;
  background: #37806B;
  border-radius: 0px 0px 20px;
  border: none;
  width: 180px;
  height: 52px;
  font-family: Open Sans;
  font-size: 18px;
  cursor: pointer
}

.page-footer {
  background-color: #afafaf18;
}

.footer-items {
  display: flex;
  gap: 90px;
  margin-top: 175px;
  padding-top: 90px;
}

.footer-b1 {
  max-width: 350px;
  position: relative;
  left: 50px;
}

.footer-b5 {
  position: relative;
  left: -27px;
  top: -10px;
}

.text-footer-b1 {
  font-family: Open Sans;
  font-size: 18px;
  color: #868484;
  margin: 10px 0 0 0;
}

.footer-b2, .footer-b3, .footer-b4, .footer-b5 {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-block-header {
  font-family: Open Sans;
  font-size: 24px;
  color: #212121;
  margin-bottom: 10px;
}

.footer-link-item {
  font-family: Open Sans;
  font-size: 18px;
  color: #7c7c7c;
  text-decoration: none;
  letter-spacing: 0.2px;
}

.socials-footer {
  display: flex;
  gap: 8px;
}

.logo-cont {
  background-color: #D5D5D5;
  width: 37px;
  height: 37px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-cont:nth-of-type(2) .social-logo {
  margin-top: 8px;
}

.logo-cont:nth-of-type(3) .social-logo {
  margin-left: 1px;
}

.logo-cont:hover {
  background: #37806B;
}

.footer-border {
  border: 1px solid #e2e2e2;
  margin-top: 69px;
}

.copyright-text {
  font-family: Open Sans;
  font-size: 18px;
  color: #646464;
  text-align: center;
  padding-bottom: 20px;
}